{% block js %}
    {% load staticfiles %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
        {# Example parameters we're passing to the js functions #}
        var params = {
            data: 'data',
            phone: $('#phone').val().trim(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id_number: {{ id_number }}
        };

        addBooking('{% url 'add_booking_ajax' %}', params);
        updateBooking('{% url 'add_booking_ajax' %}', params);
        deleteBooking('{% url 'delete_booking_ajax' %}', params);
        trackingCheckIn('{% url 'tracking_check_in_ajax' %}', params);
        trackingCheckOut('{% url 'tracking_check_out_ajax' %}', params);
        addOrder('{% url 'add_order_ajax' %}', params);
        updateOrder('{% url 'update_order_ajax' %}', params);
        addFood('{% url 'add_food_ajax' %}', params);
        updateFood('{% url 'update_food_ajax' %}', params);
        deleteFood('{% url 'delete_food_ajax' %}', params);
        addDrink('{% url 'add_drink_ajax' %}', params);
        updateDrink('{% url 'update_drink_ajax' %}', params);
        deleteDrink('{% url 'delete_drink_ajax' %}', params);
        addCommodity('{% url 'add_commodity_ajax' %}', params);
        updateCommodity('{% url 'update_commodity_ajax' %}', params);
        deleteCommodity('{% url 'delete_commodity_ajax' %}', params);
        addSupplier('{% url 'add_supplier_ajax' %}', params);
        updateSupplier('{% url 'update_supplier_ajax' %}', params);
        deleteSupplier('{% url 'delete_supplier_ajax' %}', params);
        addWorker('{% url 'add_worker_ajax' %}', params);
        updateWorker('{% url 'update_worker_ajax' %}', params);
        deleteWorker('{% url 'delete_worker_ajax' %}', params);
        addLaundryTpeCost('{% url 'add_laundry_item_cost_ajax' %}', params);
        updateLaundryTypeCost('{% url 'update_laundry_item_cost_ajax' %}', params);
        deleteLaundryTypeCost('{% url 'delete_laundry_item_cost_ajax' %}', params);
        addFacilityTpe('{% url 'add_facility_type_ajax' %}', params);
        updateFacilityType('{% url 'update_facility_type_ajax' %}', params);
        deleteFacilityType('{% url 'delete_facility_type_ajax' %}', params);
        addFacility('{% url 'add_facility_ajax' %}', params);
        updateFacility('{% url 'update_facility_ajax' %}', params);
        deleteFacility('{% url 'delete_facility_ajax' %}', params);
        addRating('{% url 'add_rating_ajax' %}', params);
        updateRating('{% url 'update_rating_ajax' %}', params);
        deleteRating('{% url 'delete_rating_ajax' %}', params);
        addEvent('{% url 'add_event_ajax' %}', params);
        updateEvent('{% url 'update_event_ajax' %}', params);
        deleteEvent('{% url 'delete_event_ajax' %}', params);
        addRoomCleaning('{% url 'add_room_cleaning_ajax' %}', params);
        updateRoomCleaning('{% url 'update_room_cleaning_ajax' %}', params);
        deleteRoomCleaning('{% url 'delete_room_cleaning_ajax' %}', params);
        addFacilityCleaning('{% url 'add_facility_cleaning_ajax' %}', params);
        updateFacilityCleaning('{% url 'update_facility_cleaning_ajax' %}', params);
        deleteFacilityCleaning('{% url 'delete_facility_cleaning_ajax' %}', params);

    </script>
{% endblock %}



