{% extends 'hotelweb/base/main_base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Staff</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-file fa-fw"></i> Fill the form
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {% if messages %}
                            <div class="alert alert-success alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                         {% endif %}
                        <form role="form" method="POST" action="{% url 'add_staff' %}">
                            {% csrf_token %}
                                  <div class="form-group col-md-6">
                                        <label>First Name</label>
                                        {% render_field user_form.first_name class="form-control" placeholder="Enter First Name" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Last Name</label>
                                        {% render_field user_form.last_name class="form-control" placeholder="Enter Last Name" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Email Address</label>
                                        {% render_field user_form.email class="form-control" placeholder="Enter Email Address" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Phone Number</label>
                                        {% render_field user_form.phone class="form-control" placeholder="Enter Phone Number" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>National ID</label>
                                        {% render_field user_form.id_number class="form-control" placeholder="Enter National ID" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Staff ID</label>
                                        {% render_field staff_form.staff_id class="form-control" placeholder="Enter Staff ID" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Job Title</label>
                                        {% render_field staff_form.staff_job_title class="form-control" placeholder="Enter Job Title" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Job Shift</label>
                                        {% render_field staff_form.staff_job_shift class="form-control" placeholder="Enter Job Shift" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Gender</label>
                                        {% render_field user_form.gender class="form-control" placeholder="Select Gender" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Can Add Staff</label>
                                        {% render_field staff_form.is_hr class="form-control" placeholder="Select Gender" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Password</label>
                                        {% render_field user_form.password1 class="form-control" placeholder="Enter Password" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Confirm Password</label>
                                        {% render_field user_form.password2 class="form-control" placeholder="Enter Password" %}
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-primary">
                                        Save Details
                                    </button>
                                    <button type="reset" class="btn btn-danger">
                                        Cancel
                                    </button>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>

                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
    </div>
{% endblock %}