{% extends 'hotelweb/base/main_base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page Title</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table width="100%" class="table dataTable table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Job Title</th>
                                    <th>Created By</th>
                                    <th>Created On</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for job_title in job_titles %}
                                    <tr class="odd gradeX">
                                        <td>{{ job_title.job_title }}</td>
                                        <td>{{ job_title.job_created_by }}</td>
                                        <td>{{ job_title.job_created_on|date }}</td>
                                        <td class="center action-icons">
                                            <a href="{% url 'job_title_details' job_title.id %}">
                                                <i class="fa fa-eye text-info"></i>
                                            </a>
                                            <i class="fa fa-pencil text-success"></i><i class="fa fa-trash text-danger"></i>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
    </div>
{% endblock %}